.body-m{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-color: #D2BD00 transparent; 
}